
h2{
  color:black;
  text-align: center;
  font-size: 18px;
  font-family: Arial;
  font-weight: light;

  
  line-height: 44px
  color:black;


  }

  h3{
  color:black;
  text-align: center;
  font-size: 14px;
  font-family: Arial;
  font-weight: light;

 
  line-height: 44px
  color:black;


  }

  .img-info h2 {
    width: 100%

  }

.title{
  color:green;

  }

  .wrapper{

    width: 100%
   
  }


.img-rudelius{
      width: 100%
}

.img-rudelius1{
      width: 100%
}

.img-rudelius2{
      width: 100%
}

.img-rudelius3{
      width: 100%
}

.img-rudelius6{
      width: 100%
}

.img-rudelius5{
      width: 100%
}

.img-cirkel{
    width: 100%;
  }

  .img-family{
    width: 100%;
  }

  .img-familiecirkel{
    width: 100%;
  }


.img-info p {
      text-align: left;
      width: 100%
      padding:10px 10px 10px;
      font-family: Serapion;
      font-size: 18px;
      color:black;
      line-height: 24px

     
}

 @font-face{
src:url(serapion/SerapionOSF.otf);
font-family: Serapion;

 }

@media only screen and (min-width:768px){



.img-rudelius{
    width: 100%;
  }

.img-cirkel{
    width: 100%;
  }

 .wrapper{
  width:600px;
  margin:0 auto;
}

.img-info h2 {
      width: 100%
      padding:10px 10px 10px;
      margin:0px 0px 0px;
      font-family: Serapion;
      font-size: 50px;
      color:black;
      line-height: 44px

}

.img-info p {
      width: 100%
      padding:10px 10px 10px;
      font-family: Serapion;
      font-size: 20px;
      color:black;
      line-height: 24px
}


 @font-face{
src:url(serapion/SerapionOSF.otf);
font-family: Serapion;

 }


